package settings

import "github.com/alfredomagalhaes/go-ai-images/view/layout"
import "github.com/alfredomagalhaes/go-ai-images/types"

templ Index(user types.AuthenticatedUser) {
  @layout.App(true) {
    <div class="max-w-2xl w-full mx-auto mt-4"> 
      Account
    </div>
  }
}